body {
    background-color: pink;
}
.main-content {
    display: flex;
    justify-content: center;
}
.main-title {
    text-align: center;
}
.clearfix {
    overflow: auto;
}
.card {
    padding: 20px;
    border-radius: 15px;
    background: whitesmoke;
}
.card p {
    text-align: center;
}
.card.card-profile {
    background-color: red;
}