body {
    margin:0;
}
.header-principal {
    width: 100%;
    position: fixed;
    backface-visibility: hidden;
    background-color: whitesmoke;
}
main {
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-top:9em;
}
nav a.menu-button,
nav a.menu-button--close {
    display: none;
}
nav a.menu-button:hover ~ ul,
nav a.menu-button--close:hover ~ ul {
    display:none;
}
nav ul {
    display:flex;
    list-style-type: none;
}
nav ul li {
    background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
    background-position:center center;
    background-size: contain;
    background-repeat: none;
}
nav ul li a {
    font-size: 2em;
    padding: 1em 2em;
    text-decoration: none;
}
.section {
margin:1em 0;
padding-top:9em;
background-color: blue;
width: 45%;
}
.section.section--secondaire .grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px; */
    grid-auto-rows: max-content;
}
.article {
    background-color: yellow;
    width: 45%;
}
.article h2 {
    color: green;
    margin-bottom: 0.3em;
}
.article p {
    text-align: justify;
    text-transform: capitalize;
}
.article a {
    text-decoration: none;
}
@media screen and (min-width: 1280px){
    main {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 592px) {
    main {
        flex-direction: column;
    }
    nav a.menu-button,
    nav a.menu-button--close {
        display: initial;
    }
    nav a.menu-button:hover ~ ul {
        display:flex;        
    }
    nav a.menu-button--close:hover ~ a.menu-button {
        display: none;
    }
    nav a.menu-button:hover ~ a.menu-button--close {
        display: none;
    }
    nav a.menu-button--close:hover ~ ul {
        display:none;        
    }
    nav ul {
        display:none;
        flex-direction: column;
    }
    .section {
        width: 100%;
    }
    .section.section--secondaire {
        display: none;
    }
    .article {
        width: 100%;
    }
}
